.uploadBtnContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 15px;
  gap: 5px;
}

.uploadBtn {
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
}

.modalForm {
  margin-top: 13px;
  p {
    margin-top: -20px;
  }
}

.error {
  color: red;
  font-size: small;
}
